* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.all-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px;
    max-width: 50%;
    margin: 2% 0% 0% 25%;
    background-color: aqua;
}

.all-img img {
    width: 100%; /* Ensure images take up the full width of their grid cell */
    max-width: 100%; /* Ensure images don't exceed the width of their grid cell */
}


#ply-btn {
    margin: 5% 0% 5% 35%;
    width: 30%;
    font-size: larger;
}