* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://wallpapercave.com/wp/wp10311747.jpg);
    background-size: cover;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.pikachu {
    padding: 10% 0% 0% 10%;
}

.all-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px;
    max-width: 50%;
    margin: 2% 0% 0% 25%;
    border-radius: 40px;
    background-color: rgba(0, 221, 255, 0.364);
}


.all-img img {
    width: 100%; /* image will take up grid cell */
    max-width: 100%; /* makes whole image bigger */
}


#ply-btn {
    margin: 3% 0% 5% 40%;
    width: 20%;
    background-color: rgba(77, 255, 0, 0.832);
}

#rst-btn {
    margin: 3% 0% 5% 40%;
    width: 20%;
    background-color: rgba(77, 255, 0, 0.832);
}

#board-container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    width: 456px;
    height: 456px;
    margin: 3% 0% 0% 30%;
    gap: 10px;
}

#display-container {
    display: flex;
    gap: 200px;
    margin: 3% 25% 0% 33%;
    background-color: rgba(0, 221, 255, 0.364);
}

.box img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    pointer-events: none;
}


